
#main {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
}

#map {
 order: 1;
 flex: 3;
 height: 100vh;
 width: 100vw;
}
#right-panel {
  order: 2;
  flex: 1;
  flex-wrap: wrap;
  height: 100vh;
  padding: 10px;
}

.searchbox {
  border-left-style: none;
  border-right-style: none;
  border-top-style: none; 
  border-bottom: solid .75px rgb(136, 136, 136);
  color: rgb(136, 136, 136);
  width: 85%;
  padding: 8px 52px 8px 22px;
  font-size: 14px;
}

button {
  margin: 15px;
  padding: 5px;
  background-color: #4285f4;
  width: 150px;
  border: none;
  color: white;
}

button:hover {
  background-color: #70a4f7;
}

# {
  color: rgb(221, 221, 221);
}

@media all and (max-width: 500px) {
  #main {
    flex-direction: column;
  }

  #right-panel {
    /* position: absolute; */
    height: 50%;
  }
  #map {
    /* On small screens, we are no longer using row direction but column */
    order: -1;
    /* position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0; */
    height: 50%;
  }
}