body {
 font-family: sans-serif;
 position: relative;
}

#main {
  height: 100vh;
  display: flex;
}

#map {
 order: 1;
 flex: 3;
 /* height: 100%; */
 /* width: 100%; */
 background-color: green;
}
#right-panel {
  order: 2;
  flex: 1;
  flex-wrap: wrap;
  /* height: 100%; */
  padding: 10px;
}

@media all and (max-width: 500px) {
  #main {
    flex-direction: column;
  }

  #right-panel {
    order: -2;
    position: absolute;
    height: 50%;
    top: 50%;
  }
  #map {
    /* On small screens, we are no longer using row direction but column */
    order: -1;
    flex: 1;
    position: absolute;
    height: 50vh;
    right: 0;
    left: 0;
    top: 0;
    bottom: 50%
  }
}